<section class="content">
    <div class="content-head left-content">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#addProjectModal">
            Add Project
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables">
            <thead>
                <tr>
                    <th></th>
                    <th>Project Name</th>
                    <th>Update Date</th>
                    <th>Frequency</th>
                    <th>SVN URL</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>

<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/api/projects/" method="post" id="addProjectForm">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Add Project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="text" class="form-control validate" placeholder="Enter project name" name="name">
                    </div>

                    <div class="md-form mb-4">
                        <input type="text" class="form-control validate" placeholder="Enter project url" name="url">
                    </div>

                    <div class="md-form mb-4">
                        <div class="md-form mb-4">
                            <select class="form-control" name='freq_id'>
                                <option value="0">Manual</option>
                                <option value="1">On Commit</option>
                                <option value="2">Daily</option>
                                <option value="3">Weekly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="btn" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button class="btn btn-indigo">Sumbit <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="updateProjectModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/api/projects/" method="patch" id="updateProjectForm" name="updateForm">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Edit Project</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <input type="text" class="form-control validate" placeholder="Enter project name" name="name">
                    </div>

                    <div class="md-form mb-4">
                        <input type="text" class="form-control validate" placeholder="Enter project url" name="url">
                    </div>

                    <div class="md-form mb-4">
                        <div class="md-form mb-4">
                            <select class="form-control" name='freq_id'>
                                <option value="0">Manual</option>
                                <option value="1">On Commit</option>
                                <option value="2">Daily</option>
                                <option value="3">Weekly</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="btn" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button class="btn btn-indigo">Submit <i class="fa fa-paper-plane-o ml-1"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>