<section class="content">
    <div class="content-head">
        <h1 class="prim-color">{{ project.proj_name }}</h1>
    </div>
    <div class="left-content">
        <button type="button" class="btn btn-default generateButton" data-request="/api/projects/generate/{{project.proj_name}}">
            Generate
        </button>
        <button type="button" class="btn btn-default runButton" data-request="/api/projects/run/{{project.proj_name}}">
            Run
        </button>
    </div>
    <div>
        {{#each people}}
        <div>
        </div>
        {{/each}}
    </div>


</section>